#nav-pills {
  float: right;
  margin-right: 10%;
}

.nav-item a {
  color: white;
}

.profile {
  width: 300px;
  height: auto;
  padding: 15px;
}

.bgimage {
  width: 100%;
  height: 200px;
  background: url("../src/assets/pinkgradient.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin: 0px;
}

.pink {
  color: #e32e58;
}

.rounded-circle {
  width: 300px;
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

.card {
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--onyx), 0 6px 12px var(--onyx);
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--platinum);
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: var(--platinum);
}

.card .content {
  font-size: 18px;
  background-color: var(--platinum);
  color: var(--orange-soda);
  font-weight: bold;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 0px;
}
